<div class="container">
    <div id="cardCarousel" class="carousel slide" data-ride="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_1.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Viajes Chile</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_2.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ricomida</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_3.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Meet & Coffee</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_4.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Iguana Page</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_5.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Page Builder</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="<%= asset_path('Screenshot_6.png') %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Page 5</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary botoncitos">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>